JWT_SECRET=
JWT_TOKEN_TTL=

ML_BASE_URL=
ML_CHAT_BASE_URL=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=

LOGGER_LEVEL=
LOGGER_FOLDER=

HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=
